:root{
    /*Paleta de colores principales*/
    --rojo--: #9a1922;   
    --Blanco-hueso--: #ead2b0; /*Btn menú*/
    /*Paleta de colores secundarios*/
    --Amarillo--: #fdc938;
    --Blanco--: #ffffff;
    --Negro--: #090a0a;
}



*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.formulario-registro{
    width: 400px;
  /*   background: var(--Blanco-hueso--); */
    padding: 30px;
    margin: auto;

    margin-top: 100px;
    border-radius: 8px;
    font-family: 'louis-george';
    color: var(--Negro--);
}
.formulario-registro h4{
    font-size: 22px;
    margin-bottom: 20px;
}
.controles{
    width: 90%;
    background: var(--Blanco--);
    padding:  10px;
    border-radius: 4px;
    margin-bottom: 16px;
    border: 1px solid ;
    font-family: 'calibri';
    font-size: 18px;
    background-color: rgba(128, 128, 128, 0.226);
}
.formulario-registro p{
    height: 40px;
    text-align: center;
    font-size: 18px;
    line-height: 20px;
}
.formulario-registro a{
    color: var(--Negro--);
    text-decoration:  none;
}
.formulario-registro a:hover{
  /*   color:--; */
    text-decoration: underline;
}
.formulario-registro .botones{
    width: 100%;
    background:var(--rojo--);
    border:  none;
    padding: 12px;
    color: var(--Blanco--);
    margin: 16px 0;
    font-size: 16px;
}

.curso{
    /* background-image: linear-gradient(rgba(0, 0, 0, 0.548), rgba(0, 0, 0, 0.644)), url(../images/car.jpg); */
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    height: 657px;
    padding-top: 12rem;
    padding-left: 2rem;
}

.contenido{
    padding-top: 10rem;
    padding-left: 10rem;
}

.carro{
    width: 90px;
    height: 50px;
    padding-left: 1rem;
}



.inscribete{
    width: 7rem;
}

